.container {
    width: 600px;
    margin: 0 auto;
    padding: 40px;
}
.myphoto {
    width: 150px;
    border-radius: 9999px;
    animation-name: movein;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.myphoto:hover{
    animation-play-state: paused;
}
@keyframes movein{
    from{
        /*opacity: 0;*/
        transform:rotate(-40deg);
    }
    to{
        transform: 20deg;
    }
}
.photo {
    text-align: center;
}
.name {
    text-align: center;
}
h1 {
    font-family: sans-serif;
    color: #4c8258;
    font-size: 30px;
}
.info {
    text-align: center;
    color: #5c7b99;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.6;
}
.info1 {
    text-align: center;
    color: #f38154;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 1.6;
    font-weight: bold;
    position: relative;
    left:5;
    top:50%;
    width: 100%;
    opacity: 5;
    transition: all.5s;
}
.button {
    position: relative;
    display: block; 
    border: 3px solid #de73f1;
    padding: 10px;
    text-align: center;
    margin: 30px 0;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 4px;
    color: #a855b6;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 4px;
}
.icon {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 30px;
}
.top {
    display: block;
    /* 變區塊 */
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* 變圓形 */
    background-color: rgb(89, 90, 88);
    text-align: center;
    padding-top: 16px;
    box-sizing: border-box;
    /* 把padding、border的尺寸含入高度、寬度內 */
}
.works {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}
.work-item img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 5;
    object-fit: cover;
    transition: all 500ms linear;
}
.work-item{
    position: relative;
    line-height: 5;
    overflow:hidden;
}
.work-item:hover .info1{
    opacity: 2;
}
.work-item:hover img{
    transform: scale(5);
    filter: blur(3px);
}